{% extends 'base.html' %}

{% block content %}
    <div class="container" style="width: 500px">
        <main>
            <div class="row g-5">
                <div>
                    <h4 class="mb-3">비밀번호 변경</h4>
                    <form action="{% url 'accounts:change_password' %}" method="POST">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-sm-12 mb-10">
                                <label for="username" class="form-label">Username</label>
                                <br/>
                                <span id="username">{{ request.user }}</span>
                            </div>

                            <div class="col-sm-12 mb-10">
                                <label for="old_password" class="form-label">이전 비밀번호</label>
                                <br/>
                                <input type="password" class="form-control" id="old_password" name="old_password"
                                       placeholder="Old Password"/>
                                <span style="color: red"> {{ form.old_password.errors }}</span>
                            </div>

                            <div class="col-sm-12 mb-10">
                                <label for="password" class="form-label">새 비밀번호</label>
                                <br/>
                                <input type="password" class="form-control" id="password" name="new_password1"
                                       placeholder="Password"/>
                                <span style="color: red"> {{ form.new_password1.errors }}</span>
                            </div>

                            <div class="col-sm-12 mb-10">
                                <label for="confirm_password" class="form-label">새 비밀번호 확인</label>
                                <br/>
                                <input type="password" class="form-control" id="confirm_password" name="new_password2"
                                       placeholder="Confirm Password"/>
                                <span style="color: red"> {{ form.new_password2.errors }}</span>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">비밀번호 변경</button>
                            <button class="btn btn-secondary" type="button"
                                    onclick="location.href='{% url 'accounts:profile' %}'">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}