{% extends 'base.html' %}

{% block content %}
    <div class="container" style="width: 800px">
        <main>
            <div class="row g-5">
                <div>
                    <h4 class="mb-3">물건 등록</h4>
                    <div class="row g-3">

                        <div class="mb-3">
                            <img src="{{ product.product_image.url }}" alt="{{ product.product_image.name }}"
                                 width="100%" height="500">
                        </div>

                        <div class="col-sm-6 d-flex justify-content-between">
                            <label for="product_title" class="form-label fw-bold">제목</label>
                            <span id="product_title">{{ product.product_title }}</span>
                        </div>

                        <div class="col-sm-6 d-flex justify-content-between">
                            <label for="product_price" class="form-label fw-bold">작성자</label>
                            <span id="product_price">
                                <img src="{{ product.author.profile_pic.url }}" alt="mdo" width="30" height="30"
                                         class="rounded-circle">
                                <a href="{% url 'accounts:profile' product.author %}">{{ product.author }}</a>
                            </span>
                        </div>

                        <hr class="my-1">

                        <div class="col-sm-12 mb-10">
                            <label for="product_price" class="form-label fw-bold">가격</label>
                            <span id="product_price">{{ product.product_price }} 원</span>
                        </div>

                        <hr class="my-1">

                        <div class="col-sm-12 mb-10">
                            <label for="product_content" class="form-label fw-bold">내용</label>
                            <br/>
                            <span id="product_content">{{ product.product_content }}</span>
                        </div>

                    </div>

                    <hr class="my-4">

                    <div class="d-flex justify-content-end">
                        {% if product.author == request.user %}
                            <button class="btn btn-primary" type="button"
                                    onclick="location.href='{% url 'products:update' product.id %}'">수정
                            </button>
                            <button class="btn btn-danger" type="button"
                                    onclick="location.href='{% url 'products:delete' product.id %}'">삭제
                            </button>
                        {% else %}

                            {% if is_wishing %}
                            	<form action="{% url 'products:wishlist_remove' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-secondary" type="submit">찜취소</button>
                                </form>
                            {% else %}
                                <form action="{% url 'products:wishlist_add' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">찜하기</button>
                                </form>
                            {% endif %}

                        {% endif %}
                        <button class="btn btn-secondary" type="button"
                                onclick="location.href='{% url 'products:list' %}'">목록
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}